* {
    margin: 0;
    padding: 0;
    font-family: Calibri;

}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(20, 20, 70);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(20, 20, 70, 0.221);
    color: rgb(20, 20, 70);
    height: 50px;
    padding: 10px 20px;
}

.links ul {
    display: flex;
    list-style: none;
}

.links ul li {
    margin: 0px 12px;
}

.links ul li a {
    text-decoration: none;
    color: rgb(20, 20, 70);
    font-size: large;
}

.hamburger {
    display: none;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.section1 img {
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2 h1 {
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.discription {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0px;
}

.projectlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.heading {
    margin-bottom: 20px;
}

.fp {
    background-color: rgba(20, 20, 70, 0.221);
    height: 150px;
    color: rgb(20, 20, 70);
    margin: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;  
    text-align: left;  
    border-radius: 20px;
    padding-left: 30px;
}

.livedemo button {
    padding: 12px;
    font-weight: bold;
    margin-top: 10px;
    background-color: rgb(20, 20, 70);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

footer {
    background-color: rgba(20, 20, 70, 0.221);
    margin-top: 10px;
    color: rgb(20, 20, 70);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    flex-wrap: wrap;
}

footer .sf {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}

footer .sf img {
    height: 30px;
    margin: 5px;
}

@media (max-width : 768px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .links {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.562);
        backdrop-filter: blur(20px);
        display: flex;
        justify-content: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;

    }

    .links.active {
        max-height: 200px;
    }

    .links ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 5px auto;

    }

    .links ul li {
        padding: 10px;
        color: rgb(20, 20, 70);
    }

    footer {
        justify-content: center;
        padding: 10px 0 0 5px;
    }
    .section2 h1{
        font-size: 40px;
    }
    .discription{
        font-size: 18px;
    }
    footer{
        font-size: 12px;
    }
    footer .sf img{
        height: 20px;        
    }
    .fp{
        width: 250px;
    }
    .section1 img{
        width: 150px;
    }

}